# Connection URL's for the express server
EXPRESS_PORT = 3000
EXPRESS_URL = "http://localhost"

# Connection URL's for the react server
CLIENT_URL = "http://localhost:5173"

CSRF_SECRET = 

# Database connection URL
DATABASE_NAME = "postgres"
DATABASE_USER = "postgres"
DATABASE_PASSWORD = "postgres"
DATABASE_HOST = "localhost"
DATABASE_PORT = 5432


